[submodule "Flight_controller/HEAR2"]
	path = Flight_controller/HEAR2
	url = https://github.com/AhmedHumais/HEAR2.git
[submodule "xsens_ros_mti_driver"]
	path = xsens_ros_mti_driver
	url = https://github.com/AhmedHumais/xsens_ros_mti_driver.git
[submodule "mocap_optitrack"]
	path = mocap_optitrack
	url = https://github.com/AhmedHumais/mocap_optitrack.git
